.container {
	position: relative;
	text-align: center;
	color: black;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px white;
	font-weight: bold;
	font-size: 55px;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: PaleVioletRed;
	border: 10px double;
	max-width: 100%
}

.contactform {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(0%, 0%);
	text-shadow: 2px 2px white;
	font-weight: bold;
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: PaleVioletRed;
	border: 10px double;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: RebeccaPurple;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

li {
	float: left;
	border-right: 1px solid white;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 100px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #04AA6D;
}

.active {
	background-color: #04AA6D;
}

body {
	background-color: #663399;
}

champions {
	font-size: 50px;
}







.image {
	opacity: 1;
	display: block;
	width: 360px;
	height: 360px;
	margin: 0px 10px 30px 20px;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 8px;
	box-shadow: 3px 3px 5px black;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.Info {
	position: relative;
	font-size: 22px;
	left: 400px;
	top: 250px;
}

img {
	max-width: 100%;
}




/*This is for ashe*/
.photo-container1 {
	position: relative;
	width: 20%;

	
}

.photo-container1:hover .image {
	opacity: 0.3;
}

.photo-container1:hover .middle {
	opacity: 1;
}

.text {
	background-color: #04AA6D;
	color: white;
	font-size: 30px;
	padding: 16px 32px;
}


/*This is for blitz*/
.photo-container2 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container2:hover .image {
	opacity: 0.3;
}

.photo-container2:hover .middle {
	opacity: 1;
}

/*This is for Galio*/
.photo-container3 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container3:hover .image {
	opacity: 0.3;
}

.photo-container3:hover .middle {
	opacity: 1;
}

/*This is for Gangplank*/
.photo-container4 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container4:hover .image {
	opacity: 0.3;
}

.photo-container4:hover .middle {
	opacity: 1;
}

/*This is for Kayle*/
.photo-container5 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container5:hover .image {
	opacity: 0.3;
}

.photo-container5:hover .middle {
	opacity: 1;
}

/*This is for Lulu*/
.photo-container6 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container6:hover .image {
	opacity: 0.3;
}

.photo-container6:hover .middle {
	opacity: 1;
}

/*This is for Lux*/
.photo-container7 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container7:hover .image {
	opacity: 0.3;
}

.photo-container7:hover .middle {
	opacity: 1;
}
/*This is for nasus*/
.photo-container8 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container8:hover .image {
	opacity: 0.3;
}

.photo-container8:hover .middle {
	opacity: 1;
}

/*This is for poppy*/
.photo-container9 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container9:hover .image {
	opacity: 0.3;
}

.photo-container9:hover .middle {
	opacity: 1;
}

/*This is for Renekton*/
.photo-container10 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container10:hover .image {
	opacity: 0.3;
}

.photo-container10:hover .middle {
	opacity: 1;
}

/*This is for sylas*/
.photo-container11 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container11:hover .image {
	opacity: 0.3;
}

.photo-container11:hover .middle {
	opacity: 1;
}

/*This is for talon*/
.photo-container12 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container12:hover .image {
	opacity: 0.3;
}

.photo-container12:hover .middle {
	opacity: 1;
}

/*This is for wukong*/
.photo-container13 {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}

.photo-container13:hover .image {
	opacity: 0.3;
}

.photo-container13:hover .middle {
	opacity: 1;
}

/*CSS for the Lightbox*/

.row > .column {
	padding: 0 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/*Creates for equal columns next to one another */
.column {
	float: left;
	width: 25%;
}

/* The modal (background)*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*modal content */
.model-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

/* The close button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
	display: none;
}

/*Next and previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50%;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*position the next button to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*On hover add a black background with a little bit see through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/*caption text */
.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

img.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

.img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}